{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="columns">
        <div class="column is-two-fifths">
            <div class="box" style="background-color: white;">
                <img src="../static/jira_gpt.png" width="400" style="display: block; margin-left: auto; margin-right: auto;"/>
                <div class="field">
                    <div class="control">
                        <textarea id="prompt" class="textarea is-large" name="text" rows="9" placeholder="Escreva sua solicitação aqui!"></textarea>
                    </div>
                </div>
                <button id="send_gpt" class="button is-responsive is-outlined is-block is-info is-large is-fullwidth">Gerar descrição</button>
            </div>
        </div>
        <div class="column is-three-fifths">
            <img id="loading" hidden src="../static/Spin-1s-200px.gif" width="30"/>
            <div class="box" style="background-color: white;">
                <div class="field">
                    <div class="control">
                        <textarea id="response_gpt" class="textarea is-large" disabled name="text" rows="12" placeholder="O texto do ticket será gerado aqui. Valide antes de enviar!" style="resize: none;">
                        </textarea>
                        <b><p style="text-align: center;">Caso o texto se adeque ao que precisa, clique no botão "Enviar Card" abaixo, para finalizar. <br/>Do contrário, reescreva e gere a descrição novamente.</p></b>
                        <button id="send_jira" class="button is-responsive is-block is-info is-large is-fullwidth has-text-weight-bold" style="background-color: #3FA110;">Criar card</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type=text/javascript>
    document.getElementById("send_gpt").addEventListener("click", function() {
        var promptValue = document.getElementById("prompt").value;

        $('#loading').show();

        $.ajax({
            url: '/gerar_descricao',
            type: 'post',
            contentType: 'application/json',
            data: JSON.stringify({prompt: promptValue}),
            success: function(response){
                $("#response_gpt").val(response.response);
            },
            complete: function(){
                $('#loading').hide();
            }
        });
    });

    document.getElementById("send_jira").addEventListener("click", function(){
        $('#loading').show();
        
        $.ajax({
            url: '/create_jira_task',
            type: 'GET',
            dataType: 'json',
            success: function(response){
                alert("Card criado com sucesso! Seu número é: " + response.response + ". Anote ou copie para ter controle! Você também pode acompanhar direto no board do time.")
            },
            complete: function(){
                $('#loading').hide();
            }
        });
    });
</script>
{% endblock %}